<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--/*@thymesVar id="product" type="com.epam.test.dto.ProductDto"*/-->
<form name="user" action="/product" method="post" enctype="multipart/form-data">

    <input type="number" hidden name="id" th:if="${product.id}" th:value="${product.id}">
    <label for="name">Product name</label>
    <input id="name" type="text" name="name" maxlength="100" th:value="${product.name}?:''" required/>
    <br>
    <label for="description">Product description</label>
    <input id="description" type="text" name="description" maxlength="500" th:value="${product.description}?:''"
           required/>
    <br>
    <label for="price">Product price</label>
    <input id="price" type="number" name="price" th:value="${product.price}?:''" maxlength="20" required/>
    <br>
    <div th:if="${product.image}">
        <p>Old image:</p>
        <img th:src="@{'data:image/jpg;base64,'+${product.image}}" alt="product image">
    </div>
    <br>
    <label for="image">Product image</label>
    <input id="image" type="file" name="image" accept="image/*">
    <br>
    <input type="submit">
</form>
</body>
</html>